<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regdservlet</servlet-name>
        <servlet-class>regdservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>camservlet</servlet-name>
        <servlet-class>camservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackserv</servlet-name>
        <servlet-class>feedbackserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteServ</servlet-name>
        <servlet-class>voteServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userinfo</servlet-name>
        <servlet-class>userinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteinfo</servlet-name>
        <servlet-class>voteinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackinfo</servlet-name>
        <servlet-class>feedbackinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regdservlet1</servlet-name>
        <servlet-class>regdservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regdservlet</servlet-name>
        <url-pattern>/regdservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>camservlet</servlet-name>
        <url-pattern>/camservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackserv</servlet-name>
        <url-pattern>/feedbackserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteServ</servlet-name>
        <url-pattern>/voteServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userinfo</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteinfo</servlet-name>
        <url-pattern>/voteinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackinfo</servlet-name>
        <url-pattern>/feedbackinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regdservlet1</servlet-name>
        <url-pattern>/regdservlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
